<ng-container *ngIf="category$ | async as category">
  <ng-container *ngIf="year$ | async as year">
    <span *ngIf="category.name; then hasName; else noName"></span>
    <ng-template #hasName>
      <h3 class="is-size-3">สร้างเอกสารประเภท{{category.name}} ปี พ.ศ. {{year.buddhist_year}}</h3>
    </ng-template>
    <ng-template #noName>
      <h3 class="is-size-3">สร้างเอกสารปี พ.ศ. {{year.buddhist_year}}</h3>
    </ng-template>
    <div class="columns">
      <div class="column is-4 is-offset-4">
        <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
          <div class="field">
            <label for="name" class="label">ชื่อเอกสาร</label>
            <div class="control">
              <input id="name" type="text" formControlName="name" class="input">
            </div>
          </div>
          <div class="field">
            <label for="division" class="label">หน่วยงาน</label>
            <div class="control is-expanded">
              <div class="select is-fullwidth">
                <select formControlName="divisionId" id="division">
                  <option *ngFor="let division of divisions$ | async as divisions" [value]="division.value">{{division.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field is-grouped is-grouped-centered">
            <div class="control">
              <button type="submit" [disabled]="form.disabled" class="button is-primary">Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-container>
</ng-container>
