<div *ngIf="announcement$ | async as announcement" class="announcement yellow lighten-4">
  {{ announcement }}
</div>
<div *ngIf="category$ | async as category">
  <div *ngIf="year$ | async as year">
    <span *ngIf="category.name; then hasName; else noName"></span>
    <ng-template #hasName>
      <h4>หนังสือประเภท{{category.name}} ปี พ.ศ. {{year.buddhist_year}}</h4>
    </ng-template>
    <ng-template #noName>
      <h4>หนังสือออก ปีพ.ศ. {{year.buddhist_year}}</h4>
    </ng-template>
    <table class="striped">
      <thead>
      <tr>
        <th>ที่</th>
        <th>หัวเรื่อง</th>
        <th>หน่วยงาน</th>
        <th>ผู้ขอ</th>
        <th>เวลา</th>
        <th>สถานะ</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let document of documents$ | async as documents">
          <span *ngIf="category.prefix; then hasPrefix; else noPrefix"></span>
          <ng-template #hasPrefix>
            <td>{{category.prefix}} {{document.number}}<sub>/{{year.buddhist_year}}</sub></td>
          </ng-template>
          <ng-template #noPrefix>
            <td>{{document.number}}<sub>/{{year.buddhist_year}}</sub></td>
          </ng-template>
          <td>{{document.name}}</td>
          <td>{{document.division.name}}</td>
          <td>{{document.user ? document.user.profile.displayName : "-"}}</td>
          <td>{{document.timestamp | date:"d MMMM y, HH:mm"}}</td>
          <td>
            {{document.status || "-"}}
            <a *ngIf="document.filePath" (click)="downloadAttachment(document.filePath)">
              <i class="material-icons">save_alt</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="fixed-action-btn">
      <a class="btn-floating btn-large blue" [routerLink]="['new']" id="float-btn">
        <i class="large material-icons">add</i>
      </a>
    </div>
  </div>
</div>
