<div class="container">
  <nav class="navbar">
    <div class="navbar-brand">
      <a routerLink="/" class="navbar-item">เอกสาร สพจ.</a>
      <div class="navbar-burger" [class.is-active]="burgerStatus" (click)="toggleBurger()">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="navbar-menu" [class.is-active]="burgerStatus">
      <div class="navbar-end">
        <ng-container *ngIf="user$ | async as user; then signedIn; else notSignedIn">
        </ng-container>
        <ng-template let-user #signedIn>
          <div class="navbar-item">สวัสดี {{user.displayName}}</div>
          <a class="navbar-item" (click)="logout()">ออกจากระบบ</a>
        </ng-template>
        <ng-template #notSignedIn>
          <a class="navbar-item" (click)="login()">เข้าสู่ระบบ</a>
        </ng-template>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>

