<div *ngIf="(user$ | async) || 1 as user">
  <nav class="green">
    <div class="nav-wrapper container">
      <a [routerLink]="['/']" class="brand-logo">สารบรรณ สพจ.</a>
      <a class="sidenav-trigger" data-target="sidenav" href="#"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="user === 1"><a (click)="login()">เข้าสู่ระบบ</a></li>
        <li *ngIf="user !== 1"><a (click)="logout()">ออกจากระบบ</a></li>
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="sidenav">
    <li *ngIf="user === 1"><a (click)="login()">เข้าสู่ระบบ</a></li>
    <li *ngIf="user !== 1"><a (click)="logout()">ออกจากระบบ</a></li>
  </ul>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
